@import "constants/const-styles.scss";

.autocomplete {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 40%;
  z-index: 1;

  &__input {
    height: 40px;
    width: 100%;
    border: 2px solid $black;
    border-radius: 20px;
    outline: none;
    background: $primary;
    padding: 0 10px;
    font-family: $lato;
  }

  &__list {
    position: absolute;
    background-color: $primary;
    border: 2px solid $black;
    border-top-width: 0;
    list-style: none;
    top: 40px;
    width: 100%;
    box-shadow: 0 3px 10px $black;
    margin-top: 5px;

    &-item {
      padding: 5px 10px;
      border: 1px solid $black;

      &:hover {
        color: $red;
        background-color: $black;
        cursor: pointer;
      }
    }
  }

  &__error {
    padding: 5px 10px;
    color: $black;
    padding: 8px;
  }
}

.admin-autocomplete {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  z-index: auto;

  &__input {
    height: 40px;
    width: 100%;
    border: 2px solid $search-primary;
    border-radius: 5px;
    outline: none;
    background: $primary;
    padding: 0 10px;
    font-family: $lato;
  }

  &__list {
    position: absolute;
    background-color: $primary;
    border: 2px solid $search-primary;
    border-top-width: 0;
    list-style: none;
    top: 40px;
    width: 100%;
    padding: 0;
    z-index: 1;

    &-item {
      &:hover {
        background-color: $hover-link;
        cursor: pointer;
      }
    }
  }

  &__error {
    color: $black;
    padding: 8px;
  }
}
