@import "constants/const-styles.scss";
@import "constants/media-queries.scss";

.button {
  background: transparent;
  color: $primary;
  border: 1px solid $secondary;
  border-radius: 10px;
  cursor: pointer;
  font-family: $lato;
  font-size: 18px;
  padding: 5px;
  margin: 0 10px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $secondary;
    transition: background-color 0.2s ease-in-out;
  }

  &__pagination-btn {
    background-color: $secondary;
    border-radius: 50%;
    width: 8%;
    padding: 0;
    align-self: center;
    border: none;

    &:disabled {
      background-color: $gray;
    }
  }

  &__sign-in {
    background-color: $light-purple;
    color: $primary;
    width: 30%;
    border: none;

    &:hover {
      background-color: $purple;
    }
  }

  &__message {
    color: $primary;
    width: 40%;
    margin: 0 20px;
    padding: 10px;
    font-family: $lato;
    background-color: $light-purple;
    border: none;

    &:hover {
      background-color: $purple;
      transition: background-color 0.2s ease-in-out;
    }
  }

  &__header {
    color: $black;
    border: 1px solid $purple;
    width: 50%;
    margin-top: auto;
    margin-bottom: 50px;
    font-family: $lato;
    margin-left: 15px;
    background-color: $primary;

    &:hover {
      color: $primary;
      background-color: $purple;
      transition: background-color 0.2s ease-in-out;
    }
  }

  &__input {
    margin: 10px 0 10px 0;
    align-self: flex-end;
    color: $primary;
    background-color: $light-purple;
    border: none;

    &:hover {
      background-color: $purple;
      transition: background-color 0.2s ease-in-out;
    }

    &:disabled {
      background-color: $purple-disabled;
    }
  }

  &__logout {
    width: 100%;
    border: none;
    color: $black;
    margin: 0;
    border-radius: 0;

    &:hover {
      background-color: $light-gray;
    }
  }

  &__user {
    align-self: flex-end;
    margin-top: -120px;
    border-radius: 50px;
    border: 1px solid $gray;
    padding: 5px 15px;
    color: $black;
    font-family: $lato;
    font-weight: bold;

    &:hover {
      background-color: $light-gray;
    }
  }

  @include media-table-large {
    width: 25%;
  }
}
