@import "constants/const-styles.scss";

.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-gray;
  border-radius: 15px;
  height: 80%;
  width: 80%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

  &__description {
    background-color: $purple-disabled;
    width: 50%;
    height: 100%;
  }

  &__login {
    width: 50%;
    padding: 0 150px;
  }
}
